# Ignore everything at repository root
/*

# Keep this ignore file
!/.gitignore

# Keep only these top-level folders
!/Alex/
!/code/
!/code2/


# Exclude Python caches at any level
**/__pycache__/
**/_pycache_/

# Exclude virtual environments at any level
**/env/
**/venv/

# Exclude nested repo backup
**/.git.nested-backup/

# Exclude egg-info build artifacts
**/*.egg-info/

# Exclude log files
*.log

.DS_Store
!README.md
!B03-1\ Final\ report.pdf
